{% extends "bootstrap/base.html" %}

{% block title %}
Add Major
{% endblock %}

{% block styles %}
{{super()}}
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Get Hired</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/dashboard_com/{{uid}}">Dashboard</a></li>
            <li><a href="/postjob/{{ cid }}/{{ uid }}">Post Job </a></li>
            <li><a href="/findcandidate">Find Candidate</a></li>
            <li><a href="{{ url_for('logout')}}">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/dashboard_com/{{uid}}">Overview<span class="sr-only">(current)</span></a></li>
            <li><a href="/editjob/{{ cid }}/{{ title }}">Edit job</a></li>
            <li class="active"><a href="#">Add Major</a></li>
          </ul>
          <!-- <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul> -->
        </div>
        <div class="container">
          <form class="form-signin">
            <h2 class="form-signin-heading">Add major</h2>
            {% if nameerror %}
            <p>major exist, please add another</p>
            {% endif %}
            <label for="mname">major</label>
            <input type="text" id="mname" class="form-control" placeholder="computer science" name="mname" required autofocus>
            <label for="level">level</label>
            <select class="form-control" id="level" name="level">
              <option disabled selected value>--select major--</option>
              <option value="Bachelor">Bachelor</option>
              <option value="Master">Master</option>
              <option value="PHD">PHD</option>
            </select>
            <button class="btn btn-lg btn-primary btn-block" type="submit" formmethod="post">Add major</button>
          </form>

        </div>
      </div>
    </div>
{% endblock %}