{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='update.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Get Hired</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/dashboard_com/{{uid}}">Dashboard</a></li>
            <li><a href="/postjob/{{cid}}/{{uid}}">Post Job </a></li>
            <li><a href="/findcandidate">Find Candidate</a></li>
            <li><a href="{{ url_for('logout')}}">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/dashboard_com/{{uid}}">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="/updateInfo_com">Edit Profile</a></li>
            <li><a href="/editcompany/{{cid}}">Edit Company</a></li>
            <li class="active"><a href="/deleteuser_com">Delete User</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <form class="form-signin" method='POST' action="/deleteuser_com">
        <h2 class="form-signin-heading">Delete User</h2>
        {% if uiderror %}
        <p>not your uid</p>
        {% endif %}
        <label for="uid">please enter your uid to make sure the delete action</label>
        <input type="text" id="uid" class="form-control" placeholder="uid" name="uid" required autofocus>

        <button class="btn btn-lg btn-primary btn-block" type="submit">delete</button>
      </form>

    </div>
{% endblock %}






