{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Get Hired</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/dashboard_com/{{uid}}">Dashboard</a></li>
            <li><a href="/postjob/{{position['cid']}}/{{uid}}">Post Job </a></li>
            <li><a href="/findcandidate">Find Candidate</a></li>
            <li><a href="{{ url_for('logout')}}">Log Out</a></li>
          </ul>
          
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/dashboard_com/{{uid}}">Overview<span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#">Edit job</a></li>
            <li><a href="/deletejob/{{ position['cid'] }}/{{ position['title'] }}">Delete Job</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="header">{{ position['title'] }}</h2>
          <h3 class="header">Company: {{ company['cname'] }}</h3>
          <small>post time: {{ position['posttime'] }}</small>
          <h4 class="sub-header">Overview<a href="/editjob_overview/{{position['cid']}}/{{position['title']}}" class="btn btn-default">Edit</a></h4>
          <div class="table-responsive">
            <table class="table table-striped">
<!--               <thead>
                <tr>
                  <th>Overview</th>
                </tr>
              </thead> -->
              <tbody>
                <tr>
                  <td>worktype</td>
                  <td>
                    {{ position['worktype'] }}
                  </td>
                </tr>
                <tr>
                  <td>application deadline</td>
                  <td>
                    {{ position['appddl'] }}
                  </td>
                </tr>
                <tr>
                  <td>city</td>
                  <td>
                    {{ position['city'] }}
                  </td>
                </tr>
                <tr>
                  <td>state</td>
                  <td>
                    {{ position['state'] }}
                  </td>
                </tr>
                <tr>
                  <td>country</td>
                  <td>{{ position['country'] }}</td>
                </tr>
                <tr>
                  <td>description</td>
                  <td>{{ position['description'] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <h4 class="sub-header">required skills<a href="/addjob_skill/{{position['cid']}}/{{position['title']}}" class="btn btn-default">Add</a></h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>skills</th>
                  <th>proficiency</th>
                </tr>
              </thead>
              <tbody>
                {% for skill in skills %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ skill['sname'] }}</td>
                  <td>{{ skill['proficiency']}}</td>
                  <td><a href="/editjob_skill/{{position['cid']}}/{{position['title']}}/{{ skill['sname'] }}" class="btn btn-default">edit</a></td>
                  <td><a href="/deletejob_skill/{{position['cid']}}/{{position['title']}}/{{ skill['sname'] }}" class="btn btn-default">delete</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <h4 class="sub-header">expected major<a href="/addjob_major/{{position['cid']}}/{{position['title']}}" class="btn btn-default">Add</a></h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>major</th>
                  <th>level</th>
                </tr>
              </thead>
              <tbody>
                {% for major in majors %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ major['mname'] }}</td>
                  <td>{{ major['level']}}</td>
                  <td><a href="/editjob_major/{{position['cid']}}/{{position['title']}}/{{ major['mname'] }}" class="btn btn-default">edit</a></td>
                  <td><a href="/deletejob_major/{{position['cid']}}/{{position['title']}}/{{ major['mname'] }}" class="btn btn-default">delete</a</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}