{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Sign Up
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">

  <form class="form-signin">
    <h2 class="form-signin-heading">Candidate Sign Up</h2>
    <!--
    <label for="inputuid" class="sr-only">UID</label>
    <input type="number" id="input`uid" class="form-control" placeholder="uid" required autofocus>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    -->
    {% if notvaliduser %}
    <p>uid already used</p>
    {% endif %}
    {{ wtf.form_field(form.uid) }}
    {{ wtf.form_field(form.username) }}
    {{ wtf.form_field(form.password) }}
    {{ wtf.form_field(form.university) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit" formmethod='POST'>Sign Up</button>
  </form>

</div> <!-- /container -->
{% endblock %}
